apiVersion: apps/v1
kind: Deployment
metadata:
  labels:
    app: db-green
  name: db-green
spec:
  replicas: 1
  selector:
    matchLabels:
      app: db-green
  template:
    metadata:
      labels:
        app: db-green
    spec:
      containers:
      - image: postgres:15-alpine
        name: postgres
        env:
        - name: POSTGRES_USER
          value: postgres
        - name: POSTGRES_PASSWORD
          value: postgres
        ports:
        - containerPort: 5432
          name: postgres
        volumeMounts:
        - mountPath: /var/lib/postgresql/data
          name: db-data
      volumes:
      - name: db-data
        emptyDir: {} 
      tolerations:
       - key: "environment"
         operator: "Equal"
         value: "green"
         effect: "NoSchedule"
      affinity:
        nodeAffinity:
         requiredDuringSchedulingIgnoredDuringExecution:
           nodeSelectorTerms:
            - matchExpressions: 
               - key: environment
                 operator: In
                 values:
                    - green
      resources:
          requests:
            cpu: "200m"      # 0.05 cores
            memory: "256Mi"
          limits:
            cpu: "500m"     # 0.1 cores
            memory: "512Mi"               